{% extends 'main.html' %}

{% block body %}
<style>
.container,html{
  /* height: 200%; */
}
body{
  background-image: linear-gradient(grey,white);
  background-repeat: repeat-y;
  background-size: cover;
  box-sizing: border-box;
}
</style>
<body>
<div class="container">
<h1 class="mt-3 pt-5 text-center font-weight-bold underline"><u>Privacy Policy</u></h1>
<h6 class="text-center">This is a summary of the Privacy Policy. To read the full terms</h6>
<h6 class="text-center pt-2 font-italic">Disclaimer: This summary is not a part of the Privacy Policy and is not a legal document.
It is simply a handy reference for understanding the full Privacy Policy. Think of it as the user-friendly interface to our Privacy Policy. </h6>
<p>
  <h5 class="pt-3 font-weight-bold">Because we believe that you shouldn’t have to provide personal information to participate in the free knowledge movement, you may:<h5>
    <ul>
    <li class="">Read, edit, or use any Wikimedia Site without registering an account.</li>
    <li>Register for an account without providing an email address or real name.</li>
  </ul>
  <h5 class="font-weight-bold">Because we want to understand how Wikimedia Sites are used so we can make them better for you, we collect some information when you:</h5>
    <ul>
    <li>Make public contributions.</li>
    <li>Register an account or update your user page.</li>
    <li>Use the Wikimedia Sites.</li>
    <li>Send us emails or participate in a survey or give feedback.</li>
  </ul>
  <h5 class="font-weight-bold">We are committed to: </h5>
  <ul>
    <li>Describing how your information may be used or shared in this Privacy Policy.</li>
    <li>Using reasonable measures to keep your information secure.</li>
    <li>Never selling your information or sharing it with third parties for marketing purposes.</li>
    <li>Only sharing your information in limited circumstances, such as to improve the Wikimedia Sites, to comply with the law, or to protect you and others.</li>
    <li>Retaining your data for the shortest possible time that is consistent with maintaining, understanding, and improving the Wikimedia Sites, and our obligations under law.</li>
  </ul>
  <h5 class="font-weight-bold">Be aware: </h5>
  <ul>
    <li>Any content you add or any change that you make to a Wikimedia Site will be publicly and permanently available.</li>
    <li>If you add content or make a change to a Wikimedia Site without logging in, that content or change will be publicly and permanently attributed to the IP address used at the time rather than a username.</li>
    <li>Our community of volunteer editors and contributors is a self-policing body. Certain administrators of the Wikimedia Sites, who are chosen by the community, use tools that grant them limited access to nonpublic information about recent contributions so they may protect the Wikimedia Sites and enforce policies.</li>
    <li>This Privacy Policy does not apply to all sites and services run by the Wikimedia Foundation, such as sites or services that have their own privacy policy (like the Wikimedia Shop) or sites or services run by third parties (like third-party developer projects on Wikimedia Cloud Services).</li>
    <li>As part of our commitment to education and research around the world, we occasionally release public information and aggregated or non-personal information to the general public through data dumps and data sets.</li>
    <li>For the protection of the Wikimedia Foundation and other users, if you do not agree with this Privacy Policy, you may not use the Wikimedia Sites.</li>
  </ul>
</p>
</div>
</body>
{% endblock %}
