<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<style>
*{
  margin: 0px;
  padding: 0px;
}
body,html{
  background-image: linear-gradient(grey, white);
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
}
.mm{
padding-top: 2.6%;
padding-bottom: 2.1%;

}
.pd{
  padding-top: 0.3%;
}
.bp{
  padding-bottom: 0.1%
}
.pad{
  padding-left: 20%;
  padding-right: 20%;
}
.st{
  padding-left: 40%;
  padding-top: 5.7%;
}
/* .bt{
  padding-top: 1.3%;
} */
.ab{
  position: absolute;
  padding-top: 5%;
  width: 29%;
}
</style>
<body>

{% include '/includes/main_navbar.html' %}
  <div class="ab"><h6>{% include 'includes/_messages.html' %}</h6></div>
<div class="container mm content-section">
  <div class="pad pt-4">
    <div class="st">
    <img class="mb-3" src="/static/logup.png" alt="" width="100" height="101">
    </div>
    {% from "includes/_formhelper.html" import render_field %}
    <form class="needs-validation" novalidate action="" method="POST">
      <div class="row">
        <div class="col mb-2">
          {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                          {% for error in form.name.errors %}
                              <span>{{ error }}</span>
                              {% endfor %}
                        </div>
          {% else %}
                        {{render_field(form.name, class="form-control")}}
          {% endif %}
        </div>
      </div>
      <div class = "row">
      <div class="col-md-6 mb-3">
        {% if form.username.errors %}
                     {{ form.username(class="form-control form-control-lg is-invalid") }}
                     <div class="invalid-feedback">
                         {% for error in form.username.errors %}
                             <span>{{ error }}</span>
                         {% endfor %}
                     </div>
        {% else %}
                      {{render_field(form.username, class="form-control")}}
        {% endif %}
      </div>

      <div class="col-md-6 mb-3">
        {% if form.email.errors %}
                      {{ form.email(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                      </div>
        {% else %}
                      {{render_field(form.email, class="form-control")}}
        {% endif %}
      </div>
    </div>

      <div class="row">
      <div class="col-md-6 mb-3">
        {% if form.password.errors %}
                      {{ form.password(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                      </div>
        {% else %}
                      {{render_field(form.password, class="form-control")}}
        {% endif %}
      </div>

    <div class="col-md-6 mb-3">
      {% if form.confirm.errors %}
                    {{ form.confirm(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.confirm.errors %}
                          <span>{{ error }}</span>
                          {% endfor %}
                    </div>
      {% else %}
                      {{render_field(form.confirm, class="form-control")}}
      {% endif %}
      </div>
    </div>

      <hr class="mb-4">
      <div class="mb-3">
      <button class="btn btn-primary btn-lg btn-block" type="submit">SignUp</button>
      </div>

    </form>
  </div>
</div>
<footer class="bt pd text-muted text-center text-small">
  <p class="mb-1">&copy; 2019-2022 iSpot</p>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="/privacy-policies">Privacy</a></li>
    <li class="list-inline-item"><a href="#">Terms</a></li>
    <li class="list-inline-item"><a href="#">Support</a></li>
  </ul>
</footer>

</body>
</html>
